<h1>New book</h1>

<%= render 'layouts/error_messages', model: f.object %>

<%= form_with model: book,url: book_path,  method: :post, local:true do |f| %>

 <h4 class = "book-new-comment">Title</h4>
 <%= f.text_field :title %>

 <h4 class = "book-new-comment">Body</h4>
 <%= f.text_area :body %>

<span class = "book-btn, book-new-btn">
 <%= f.submit 'Create Book' %>
</span>

<% end %>
